{% extends "base.html" %}
{% block login %}active{% endblock login %}
{%block title %}Login Page{%endblock%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container pt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </nav>

    <h2>Login User</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-info" type="submit" value="login">
        <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
    </form>
</div>
{% endblock %}