{% extends 'base.html' %}
{% block add_article_active %}active{% endblock add_article_active %}
{%block title %}Add Article{%endblock%}
{%block content %}
<div class="container pt-5">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Write Article</li>
      </ol>
  </nav>
  {% if user.is_authenticated %}
    <h2>Write new Article</h2>
    <div>
      <form method="POST" id='add_article' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <input class="form-control" id="author" required type="hidden" value="" >
        </div>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" required id="title" placeholder="Title Of Article">
          <h5 id="titlecheck" style="color: red;" >**Title is missing</h5>
        </div>
        <div class="form-group">
          <label>Content</label>
          <textarea class="form-control" required id="content"></textarea>
          <h5 id="contentcheck" style="color: red;" >**Title is missing</h5>
        </div>
        <div class="form-group">
          <label>Published</label>
          <input type="checkbox" id="published" name="published" value="checked">
        </div>
        <div class="form-group">
          <label>Tag</label>
          <input type="text" class="form-control" id="tag" placeholder="Add tags separated by comma">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script>
		  var name = "{{ user.id }}";
		  document.getElementById("author").value = name;
	  </script>
    <script>
     $(document).ready(function() {
        $('#content').summernote({
          tabsize: 2,
          height: 400
        });
      });
    </script>
    <script>
      $('#titlecheck').hide();
      let titleCheckError = true;

      function titleValidate() {
        let titleValue = $('#title').val();
        if (titleValue.length == '') {
          $('#titlecheck').show();
          titleCheckError = false;
          return false;
        }else {
          $('#titlecheck').hide();
        }
      }

      function validate(){
        titleValidate()
      }
      $(document).on('submit', '#add_article',function(e){
        validate();
        if ((titleCheckError == true){
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: "{% url 'add_article' %}",
            data:{
              author:$('#author').val(),
              title:$('#title').val(),
              content:$('#content').val(),
              published:$('#published').prop("checked"),
              tag:$('#tag').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post',
            },
            success: function(response){
              window.location="/"
            },
            error: function (response) {
              alert('Try again')
            }
          })
          return false
        }else{
          return false;
        }
      })
    </script>
  {% else %}
    <h2>Please login to add write a new article.</h2>
    <a class="btn btn-info" href="{% url 'login' %}">login</a>
  {% endif %}
</div>
{% endblock %}