{% extends 'base.html' %}
{% block draft_article_active %}active{% endblock draft_article_active %}
{%block title %}Draft Article{%endblock%}
{%block content %}
<div class="container pt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Draft Article</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            {% if user.is_authenticated %}
                <div class="row mb-2">
                    {% for article in articles %}
                        {% if user.id == article.author.id %}
                            <div class="col-md-6">
                                <div class="cards">
                                    <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                        <div class="col p-4 d-flex flex-column position-static">
                                            <h3 class="my-1"><a href="{% url 'detail_article' article.id %}">{{article.title|title}}</a></h3>
                                            <p class="mb-auto">{{article.content|safe}}</p>
                                            <div style="display:flex">
                                                {% for article_tag in article_tags %}
                                                    {% if article_tag.article.id == article.id %}
                                                        <a href="" class="mr-1 badge badge-info">{{ article_tag.tag }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="col-md-6">
                            <h2>No draft at moment..</h2>
                            <h3 class="my-1">
                                <a class="btn btn-info" href="{% url 'add_article' %}">Add new Article</a>
                            </h3>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}